<div class="container" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-around">
      <div class="wrapper-for-game">
        <mat-grid-list class="tic-tac-grid" cols="3">
          <mat-grid-tile *ngFor="let block of gameService.blocks; let i = index;"
                         (click)="playerClick(i)">
            <i [class]="block.symbol == 'X' ? 'material-icons clear' : 'material-icons panorama_fish_eye'">{{ block.symbol }}</i>
          </mat-grid-tile>
        </mat-grid-list>
      </div>


  <div class="score-board mat-elevation-z3" fxFlex="35%">
    <mat-table [dataSource]="dataSource">
      <!--USERNAME COLUMN-->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
      </ng-container>
      <!--WINS COLUMN-->
      <ng-container matColumnDef="win">
        <mat-header-cell *matHeaderCellDef>Win</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.win}}</mat-cell>
      </ng-container>
      <!--LOSE COLUMN-->
      <ng-container matColumnDef="lose">
        <mat-header-cell *matHeaderCellDef>Lose</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.lose}}</mat-cell>
      </ng-container>
      <!--DRAW COLUMN-->
      <ng-container matColumnDef="draw">
        <mat-header-cell *matHeaderCellDef>Draw</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.draw}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

    </mat-table>

    <button type="button"
            mat-raised-button color="warn"
            class="pull-right text-right"
            (click)="resetGame($event)">Reset Game
    </button>
  </div>
</div>
